@import "_variables";

#btn{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

button{
  border-radius:15px;
  margin: 5px;
  padding: 5px;
  background-color: $secondary-colors;
  font-size: 1rem;
}
