@import "_variables";

*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: $primary-colors;
  color: $tertiary-colors;
  text-shadow: 1.5px 1.5px  $secondary-colors;
}

h1, h2{
  text-align: center;
  padding-top: 25px;
}

//Mobile: 320px
//Tablet: 768px
//Desktop: 1024px
//Large Desktop: 1440px
//4k: 2560px +